.waiting-room{
    background: url("../../images/boardbackground.jpg")no-repeat center center/cover;
    width: 100vw;
    height: 100vh;
}

    

.waiting-room .waiting-room-container{
    width: 70%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
}


.waiting-room .rooms{
    background: rgb(168, 167, 167);
;
    opacity: 0.9;
    min-height: 60vh;
}
.room-number{
    background: black;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.room-container{
    background: rgb(168, 167, 167);
;
    width: 100%;
    border-radius: 15px;
    height: 60vh;
}

.send-message{
    height: 40vh;
    overflow: auto;
    margin-bottom: 0;
}
.button{
    background: "#000000";
    opacity: 0.9;
    width:100%;
    color: "white";
}
.button:hover{
    background-color: '#5EC1F0';
}
.message-row{
    padding: 20px;padding-bottom:0; position: sticky; bottom: 150px ;   
}
.msg-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
}
.msg-box {
    min-width: 200px;
    display: flex;
    background: #5b5e6c;
    padding: 10px 10px 0 10px;
    border-radius: 0 6px 6px 0;
    max-width: 80%;
    width: auto;
    float: left;
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.user-img {
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: #2671ff;
    margin: 0 10px 10px 0;
}
.flr {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
}
.messages {
    flex: 1 0 auto;
}
.msg {
    display: inline-block;
    font-size: 11pt;
    line-height: 13pt;
    color: rgba(255,255,255,.7);
    margin: 0 0 4px 0;
}
.msg:first-of-type {
    margin-top: 8px;
}
.timestamp {
    color: rgba(0,0,0,.38);
    font-size: 8pt;
    margin-bottom: 10px;
}
.username {
    margin-right: 3px;
}
.posttime {
    margin-left: 3px;
}
.msg-self .msg-box {
    border-radius: 6px 0 0 6px;
    background: #2671ff;
    float: right;
}

@media  (max-width:1000px){
    .message-room{
        height: 85%;
    }
}

@media  (max-height:500px){
    .message-room{
        height: 70%;
    }
    .message-row{
        bottom: 80px ;   
    }
}